<div class="bg-purple py3">
  <div class="max-width-4 mx-auto">
    <div class="col-12 sm-col-8 mx-auto">
      <div class="px2">
        <h1 class="caps white h1 mb0 regular">
          Este é um espaço para título de até duas linhas.
        </h1>
        <p class="white mb3 line-height-4">
          Lorem ipsum dolor sit amet, movet dicant salutatus no his. Pri justo
          nominavi euripidis eu, cu ius verear abhorreant voluptatum. Alterum
          qualisque vim et. At summo paulo verear sea, est illud tibique scaevola
          ei, mei et nisl nobis ocurreret.
        </p>
        <%= render partial: "shared/signup_form" %>
      </div>
    </div>
  </div>
</div>
