<p>
  Valeu por participar da campanha pela #DemocraciaNosDebates. Temos pouco tempo para reunir muitas assinaturas! Veja abaixo 3 coisas que você pode fazer que vão ajudar muito nossa campanha:
</p>

<p>
  1) Compartilhe esse link com sua família, seus melhores amigos e nos seus grupos de whatsapp e facebook → http://democracianosdebates.com
</p>

<p>
  2) Marque nos comentários desse vídeo no facebook o nome de pessoas que você conhece que não sabem se vão votar no PSOL mas que defendem a democracia.
</p>

<p>
  3) Use esse modelo para recolher assinaturas no seu trabalho, faculdade, escola ou bairro e depois acesse o site para cadastrar as assinaturas no abaixo assinado online!
</p>

<p>
  É isso!
  <br />
  Vamo nessa!
</p>
