<p>
  Obrigado por se juntar à mobilização para eleger Freixo o próximo Prefeito do Rio de Janeiro!
</p>

<p>
  Temos pouco tempo até as eleições!
</p>

<p>
  Veja duas coisas rápidas que você pode fazer agora para ajudar a campanha:
</p>

<p>
  1) Compartilhe o nosso site de mobilização nas suas redes para que mais pessoas conheçam nossas propostas e se conectem com a gente: <a href="http://marcelofreixo.com.br">http://marcelofreixo.com.br</a>
</p>

<p>
  2) Faça uma doação a partir de 15 reais para nos ajudar a competir com as máquinas do Pedro Paulo e do Crivella. Depois chame mais 3 pessoas pra doar! Já batemos o recorde de doadores de financiamento coletivo para uma campanha política na história do Brasil! Estamos fazendo história: <a href="http://eufinancio.marcelofreixo.com.br">http://eufinancio.marcelofreixo.com.br</a>
</p>

<p>
  Vamos nessa!
</p>

<p>
  Forte abraço,
  <br />
  Equipe Marcelo Freixo
</p>
