<p>Obrigado por se inscrever para participar da nossa campanha à Prefeitura do Rio em 2016.</p>

<p>
  As atividades da campanha começarão no dia 16 de agosto e você receberá mais instruções de como ajudar a mobilizar pessoas pela cidade.
</p>

<p>Até lá veja duas coisas rápidas que você já pode fazer:</p>

<p>
  1) Compartilhe o site <a href="http://marcelofreixo.com.br">http://marcelofreixo.com.br</a> nas suas redes, grupos de whatsapp e todo mundo que você conhece que apoiará nossa campanha. :)
</p>

<p>
  2) <a href="http://eufinancio.marcelofreixo.com.br">Faça a sua doação para ajudar a estruturar o início da campanha</a> e chame mais 3 pessoas pra doar! Queremos chegar a 2 mil doadores até o início da campanha para mostrar a força da nossa rede e começar no dia 16 com uma estrutura legal!
</p>

<p>Vamos nessa!</p>

<p>
  Forte abraço,<br />
  Marcelo Freixo
</p>
