---
http_interactions:
- request:
    method: get
    uri: https://us13.api.mailchimp.com/3.0/lists/80bbffef9d/members/64c4af7d9366279397550c3be8f23a20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpa2V5OmY2NmJmNGY5MmJkYmFmMWY1ZTUyYjAwY2NlNWNiY2JkLXVzMTM=
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us13.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":""}'
  recorded_at: Sun, 17 Jul 2016 05:47:56 GMT
- request:
    method: post
    uri: https://us13.api.mailchimp.com/3.0/lists/80bbffef9d/members
    body:
      encoding: UTF-8
      string: '{"email_address":"nicolas16@mf16.com.br","status":"subscribed","merge_fields":{"FNAME":"Nícolas","LNAME":"Iensen","DISTRICT":"","CELLPHONE":""}}'
    headers:
      Authorization:
      - Basic YXBpa2V5OmY2NmJmNGY5MmJkYmFmMWY1ZTUyYjAwY2NlNWNiY2JkLXVzMTM=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us13.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json>; rel="describedBy",
        <https://us13.admin.mailchimp.com/lists/members/view?id=123162545>; rel="dashboard"
    body:
      encoding: UTF-8
      string: '{"id":"64c4af7d9366279397550c3be8f23a20","email_address":"nicolas16@mf16.com.br","unique_email_id":"cc31af89cd","email_type":"html","status":"subscribed","merge_fields":{"FNAME":"N\u00edcolas","LNAME":"Iensen","DISTRICT":"","CELLPHONE":""},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"78.52.117.31","timestamp_opt":"2016-07-17T05:47:57+00:00","member_rating":2,"last_changed":"2016-07-17T05:47:57+00:00","language":"","vip":false,"email_client":"","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"list_id":"80bbffef9d","_links":[{"rel":"self","href":"https://us13.api.mailchimp.com/3.0/lists/80bbffef9d/members/64c4af7d9366279397550c3be8f23a20","method":"GET","targetSchema":"https://us13.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json"},{"rel":"parent","href":"https://us13.api.mailchimp.com/3.0/lists/80bbffef9d/members","method":"GET","targetSchema":"https://us13.api.mailchimp.com/schema/3.0/Lists/Members/Collection.json","schema":"https://us13.api.mailchimp.com/schema/3.0/CollectionLinks/Lists/Members.json"},{"rel":"update","href":"https://us13.api.mailchimp.com/3.0/lists/80bbffef9d/members/64c4af7d9366279397550c3be8f23a20","method":"PATCH","schema":"https://us13.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json"},{"rel":"upsert","href":"https://us13.api.mailchimp.com/3.0/lists/80bbffef9d/members/64c4af7d9366279397550c3be8f23a20","method":"PUT","schema":"https://us13.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json"},{"rel":"delete","href":"https://us13.api.mailchimp.com/3.0/lists/80bbffef9d/members/64c4af7d9366279397550c3be8f23a20","method":"DELETE"},{"rel":"activity","href":"https://us13.api.mailchimp.com/3.0/lists/80bbffef9d/members/64c4af7d9366279397550c3be8f23a20/activity","method":"GET","targetSchema":"https://us13.api.mailchimp.com/schema/3.0/Lists/Members/Activity/Collection.json"},{"rel":"goals","href":"https://us13.api.mailchimp.com/3.0/lists/80bbffef9d/members/64c4af7d9366279397550c3be8f23a20/goals","method":"GET","targetSchema":"https://us13.api.mailchimp.com/schema/3.0/Lists/Members/Goals/Collection.json"},{"rel":"notes","href":"https://us13.api.mailchimp.com/3.0/lists/80bbffef9d/members/64c4af7d9366279397550c3be8f23a20/notes","method":"GET","targetSchema":"https://us13.api.mailchimp.com/schema/3.0/Lists/Members/Notes/Collection.json"}]}'
  recorded_at: Sun, 17 Jul 2016 05:47:57 GMT
recorded_with: VCR 3.0.3
