---
http_interactions:
- request:
    method: post
    uri: https://us13.api.mailchimp.com/3.0/lists/80bbffef9d/members
    body:
      encoding: UTF-8
      string: '{"email_address":"nicolas@mf16.com","status":"subscribed"}'
    headers:
      Authorization:
      - Basic YXBpa2V5OmY2NmJmNGY5MmJkYmFmMWY1ZTUyYjAwY2NlNWNiY2JkLXVzMTM=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us13.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json>; rel="describedBy",
        <https://us13.admin.mailchimp.com/lists/members/view?id=95637777>; rel="dashboard"
    body:
      encoding: UTF-8
      string: '{"id":"32d5cc89af4b0538fa360c0980878c7c","email_address":"nicolas@mf16.com","unique_email_id":"c1f0daab34","email_type":"html","status":"subscribed","merge_fields":{"FNAME":"","LNAME":""},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"77.180.53.157","timestamp_opt":"2016-06-12T06:46:02+00:00","member_rating":2,"last_changed":"2016-06-12T06:46:02+00:00","language":"","vip":false,"email_client":"","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"list_id":"80bbffef9d","_links":[{"rel":"self","href":"https://us13.api.mailchimp.com/3.0/lists/80bbffef9d/members/32d5cc89af4b0538fa360c0980878c7c","method":"GET","targetSchema":"https://us13.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json"},{"rel":"parent","href":"https://us13.api.mailchimp.com/3.0/lists/80bbffef9d/members","method":"GET","targetSchema":"https://us13.api.mailchimp.com/schema/3.0/Lists/Members/Collection.json","schema":"https://us13.api.mailchimp.com/schema/3.0/CollectionLinks/Lists/Members.json"},{"rel":"update","href":"https://us13.api.mailchimp.com/3.0/lists/80bbffef9d/members/32d5cc89af4b0538fa360c0980878c7c","method":"PATCH","schema":"https://us13.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json"},{"rel":"upsert","href":"https://us13.api.mailchimp.com/3.0/lists/80bbffef9d/members/32d5cc89af4b0538fa360c0980878c7c","method":"PUT","schema":"https://us13.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json"},{"rel":"delete","href":"https://us13.api.mailchimp.com/3.0/lists/80bbffef9d/members/32d5cc89af4b0538fa360c0980878c7c","method":"DELETE"},{"rel":"activity","href":"https://us13.api.mailchimp.com/3.0/lists/80bbffef9d/members/32d5cc89af4b0538fa360c0980878c7c/activity","method":"GET","targetSchema":"https://us13.api.mailchimp.com/schema/3.0/Lists/Members/Activity/Collection.json"},{"rel":"goals","href":"https://us13.api.mailchimp.com/3.0/lists/80bbffef9d/members/32d5cc89af4b0538fa360c0980878c7c/goals","method":"GET","targetSchema":"https://us13.api.mailchimp.com/schema/3.0/Lists/Members/Goals/Collection.json"},{"rel":"notes","href":"https://us13.api.mailchimp.com/3.0/lists/80bbffef9d/members/32d5cc89af4b0538fa360c0980878c7c/notes","method":"GET","targetSchema":"https://us13.api.mailchimp.com/schema/3.0/Lists/Members/Notes/Collection.json"}]}'
  recorded_at: Sun, 12 Jun 2016 06:46:02 GMT
recorded_with: VCR 3.0.3
