<div class="clearfix mt2">
  <div class="col col-12 px2 center">
    <div
      id="<%= type %>-message"
      class="px2 py1 bg-<%= type == :notice ? "green" : "red" %> white rounded inline-block">
      <%= message %>
    </div>
  </div>
</div>
