/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

$aqua: #00c9c9;
$orange: #ff8200;
$purple: #702798;
$black: #313131;
$silver: #e1e1e1;

$button-background-color: $orange;
$border-radius: 1px;

@import "basscss/basscss";
@import "basscss/basscss-addons";

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

// Waiting for https://github.com/basscss/addons/commit/810ee765c5c7e4752814e5e75bcf250bea77ea25
input { box-sizing: border-box; }

.input { border-radius: $border-radius; }
.btn { text-transform: uppercase }
.caps { letter-spacing: normal; }
label.required:before { content: "*" }
