/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$aqua: #31c3cb;
$orange: #ff8200;
$purple: #703694;
$black: #313131;
$silver: #e1e1e1;
$yellow: #ffa600;
$red: #f93952;
$facebook-blue: #2a61a9;
$twitter-blue: #1da1f3;

$button-background-color: $orange;
$border-radius: 1px;

@import "./fonts";
@import "basscss/basscss-addons";
@import "basscss/basscss";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-family: 'Gotham', sans-serif;
  margin: 0;
}

input {
  font-family: 'Gotham', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gotham', sans-serif;
}

a {
  color: $blue;
  text-decoration: none;
}

// Waiting for https://github.com/basscss/addons/commit/810ee765c5c7e4752814e5e75bcf250bea77ea25
input { box-sizing: border-box; }

.input { border-radius: $border-radius; }
.caps { letter-spacing: normal; }
label.required:before { content: "*" }

.btn {
  text-transform: uppercase;
  &:hover {
    box-shadow: inset 0 0 0 20rem $darken-1;
  }
  &:disabled,
  &.is-disabled {
    opacity: .5;
  }
}

// bg-color is not working with btn-primary https://github.com/basscss/addons/issues/20
.btn-sidebar { background-color: $silver; }
.btn-sidebar.selected { box-shadow: inset 0 0 0 20rem $darken-1; }
.btn-list { background-color: $white; }

.button {
  cursor: pointer;
  &:hover {
    box-shadow: inset 0 0 0 20rem $darken-1;
  }
}

.bg-facebook-blue {
  background-color: $facebook-blue;
}

.bg-twitter-blue {
  background-color: $twitter-blue;
}
