@font-face {
  font-family: 'League Gothic';
  src: font-url('league_gothic-webfont.woff2') format('woff2'),
    font-url('league_gothic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: font-url('gotham-bold-webfont.woff2') format('woff2'),
    font-url('gotham-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: font-url('gotham-bolditalic-webfont.woff2') format('woff2'),
    font-url('gotham-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: font-url('gotham-light-webfont.woff2') format('woff2'),
    font-url('gotham-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: font-url('gotham-lightitalic-webfont.woff2') format('woff2'),
    font-url('gotham-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: font-url('proximanova-bold-webfont.woff2') format('woff2'),
         font-url('proximanova-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: font-url('proximanova-boldit-webfont.woff2') format('woff2'),
         font-url('proximanova-boldit-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: font-url('proximanova-light-webfont.woff2') format('woff2'),
         font-url('proximanova-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: font-url('proximanova-lightitalic-webfont.woff2') format('woff2'),
         font-url('proximanova-lightitalic-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: font-url('proximanova-regular-webfont.woff2') format('woff2'),
         font-url('proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: font-url('proximanova-regularitalic-webfont.woff2') format('woff2'),
         font-url('proximanova-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: font-url('proximanova-regularitalic-webfont.woff2') format('woff2'),
         font-url('proximanova-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Go';
    src: font-url('gobold_extra1-webfont.woff2') format('woff2'),
         font-url('gobold_extra1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;;
}

@font-face {
    font-family: 'Go';
    src: font-url('gobold_extra1_italic-webfont.woff2') format('woff2'),
         font-url('gobold_extra1_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Beyond the Mountains';
    src: font-url('beyond_the_mountains-webfont.woff2') format('woff2'),
         font-url('beyond_the_mountains-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
