<p>Olá <%= @resource.first_name %>!</p>

<p>Alguém requisitou um link para trocar a sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Trocar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requisitou a troca da sua senha, por favor ignore este email.</p>

<p>Sua senha não será alterada a menos que você acesse o link acima e crie uma nova.</p>
