<div class="max-width-4 mx-auto py3">
  <div class="sm-col-12 md-col-10 mx-auto">
    <div class="col col-12 sm-col-12 md-col-4 px2">
      <ul class="list-reset m0 mb3">
        <li>
          <%=
            btn_sidebar(
              "Editar perfil",
              '/',
              selected: '/' == request.path
            )
          %>
        </li>
        <li>
          <%=
            btn_sidebar(
              "Procurar usuário",
              search_users_path,
              selected: search_users_path == request.path
            )
          %>
        </li>
      </ul>
    </div>

    <div class="col col-12 sm-col-12 md-col-8">
      <%= yield %>
    </div>
  </div>
</div>

<% parent_layout "application" %>
